<%= form_for @income_type do |f| %>
  <% if @income_type.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@income_type.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @income_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
  <%= f.label :parent_income_type %><br />
  <%= f.text_field :income_type.parent_income_type %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>