<div class="page-header">
  <h1><%=t "Income Types" %></h1>
</div>

<%= link_to "Create New Income Type", new_income_type_path, :class => 'btn btn-primary' %>
 <table class="table table-striped">
  <thead>
    <tr>
      <th><%= IncomeType.human_attribute_name(:name) %></th>
      <th><%= IncomeType.human_attribute_name(:parent_income_type_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @income_types.each do |income_type| %>
      <tr>
        <td><%= income_type.name %></td>
        <td><%= income_type.parent_income_type.try(:name) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_income_type_path(income_type), :class => 'btn btn-mini' %>

            <% if income_type.child_income_types.length == 0 %>
              <%= link_to 'Delete', income_type_path(income_type),
                   method: :delete, :remote => true,
                   :class => 'btn btn-mini btn-danger' %>
            <% else %>
              <%= link_to 'Delete', "javascript:void(0)", "data-original-title" => "Can't delete this while it has children!", "data-placement" => "top",
                   method: :delete,
                   :class => 'btn btn-mini btn-danger', disabled: true %>

            <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @income_types %>

