<div class="page-header">
  <h1><%=t "Income Types" %></h1>
</div>

<%= link_to "Create New Income Type", new_income_type_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= IncomeType.human_attribute_name(:name) %></th>
      <th><%= IncomeType.human_attribute_name(:parent_income_type_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @income_types.each do |income_type| %>
      <tr>
        <td><%= income_type.name %></td>
        <td><%= income_type.parent_income_type.try(:name) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_income_type_path(income_type), :class => 'btn btn-mini' %>

            <% unless income_type.parent_income_type.nil? %>
          <%= link_to 'Destroy', income_type_path(income_type),
               method: :delete,
               data: { confirm: 'Are you sure?' },
                :class => 'btn btn-mini btn-danger' %>
            <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @income_types %>

