<%= simple_form_for @income do |f| %>

  <%= f.label :income_type_id, :class => 'control-label' %>
<div class="controls" id="selection2">
  <%= f.grouped_collection_select :income_type_id, IncomeType.order(:name), :extended, :name, :id, :name, include_blank: true %>
</div>
    <%= f.input :amount %><br> 

    <%= f.input :note %><br>

<div class="form-actions">
  <%= f.button :submit , :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               incomes_path, :class => 'btn' %>
</div>
<% end %>