<div class="well well-sm">
    <%= "Total from beginning of the month: #{send(:total_expense)}" %>
</div>

<%= link_to "Create New Expense", new_expense_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Expense Type </th>
      <th>Amount</th>
      <th>Note</th>
      <th>Operations</th>
    </tr>
  </thead>
  <tbody>
    <% for expense in @expenses %>
      <tr>
        <td><%= expense.expense_type.try(:name) %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.note %></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_expense_path(expense), :class => 'btn btn-mini' %>

            
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            expense_path(expense),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Press Ok to delete?')) },
                            :class => 'btn btn-mini btn-danger' %>
            </td>

      </tr>
    <% end %>
  </tbody>
</table></br>
<%= paginate @expenses %>