<!DOCTYPE html>
<html>
<head>
  <title>TrackieApp</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery", "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Trackie</a>
        <%= render_navigation :expand_all => true %>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <%= bootstrap_flash  %>
    <%= yield %>  
  </div>
</body>
</html>
